.slider-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .arrow-container {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    
    transition: transform 0.8s;

    &.left {
      left: 20px;
      z-index: 1;
    }

    &.rigth {
      right: 20px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      stroke-width: 1.15;
      stroke: rgba(255, 255, 255, 0.666);
    }
  }

  .down-arrow-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 50px;
    height: 50px;

    .down-arrow {
      width: 25px;
      height: 25px;
      fill: white;
      animation: updown 1.2s ease-in-out infinite;
    }
  }
}

@keyframes updown {
  from {
    transform: translateY(0%)
  }
  to{
    transform: translateY(60%);
  }
}